/* Color and padding*/
:root {
    /* declare a variable with `--` syntax */
    --dark: #09488b;
    --light: #fff;
    --dark-text-color: #061f5e;
}

/*No margins or padding for main page*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    background-color: var(--light);
}

/*Main Portfolio name styling*/
h1 {
    font-size: 3em;
    font-family: 'Trebuchet MS', 'Lucida Sans', sans-serif;
    color: var(--light);
}

/*Found solution https://stackoverflow.com/questions/57743633/how-do-you-add-a-navigation-bar-on-the-same-line-as-a-header*/
/*The selectors of .navbar defines top header and nav links*/
.navbar {
    display:flex;
    justify-content: space-between;
    align-items:center;
    background-color: var(--dark);
    width: 100vw;
    padding: 20px;
}

#navbarlinks {
    font-size: 1.5em;
}

#navbarlinks li {
    display:inline-block;
    padding: 0px 10px;
}

#navbarlinks a {
    text-decoration:none;
    color: var(--light);
    padding-right: 10px;
}

/*Decorative image under navbar*/
.hero-image {
    display: flex;
    justify-content: space-between;
    /* flex: 1; */
    /*Image courtesy of: Fabrizio Conti 
    https://unsplash.com/@conti_photos?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">*/
    background-image: url("../images/fabrizio-conti-kXVogATbFgA-unsplash\ \(2\).jpg");
    background-size: cover;
}
 
/*Styling for Front End Web Developer text*/
.hero-text {
    font-size: 3em;
    margin: 1vw;
    color: var(--light);
    align-self: flex-end;
}
/*Avatar image styling*/
.avatar {
    border-radius: 50%;
    width: 20vw;
    height: auto;
    margin: 1vw;
}

/*Directory on left side*/
.title {
    font-size: 1.8em;
    margin: 10px;
    padding-right: 10px;
    flex-basis: 25%;
    text-align: left;
    border-bottom: 3px solid var(--dark);
}
/*Style for about me paragraph*/
p {
    padding: 30px;
    font-size: 1.75em;
}

/*Flex container for the project image cards*/
.projects {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}

.project-card {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    flex: 1;
}

.small-images {
    width: 50%;
}

.big-image {
    width: 100%;
}

img {
    border-radius: 8px;
    width: 100%;
}

/*Styling for all lists*/
li {
    display: inline-block;
    padding: 5vw;
    font-size: 1.5em;
    list-style: none;
    }

/* Changes the width max 768px or smaller for mobile phones*/
/* Credit: https://www.w3schools.com/css/css3_mediaqueries_ex.asp*/
@media screen and (max-width: 768px) {
    body {
    width: 100%;
    }
}
/* Changes the width max 992px or larger for tablets*/
 @media screen and (min-width: 768px) {
    body {
    width: 100%;   
    }
}

/* Changes the width of the cards so they are stacked on top of each other at 992px or larger */
@media screen and (min-width: 992px) {
    body {
    width: 100%;
    }
}

/*
Photo by https://unsplash.com/es/@vladimir__film?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Vladimir Malyutin
Photo by https://unsplash.com/@angro?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Antonio Grosz
Photo by https://unsplash.com/@drscythe?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Dominik Scythe*/