/* Color and padding*/
:root {
    /* declare a variable with `--` syntax */
    --dark: #09488b;
    --light: #fff;
    --dark-text-color: #061f5e;
}

/*No margins or padding for main page*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    background-color: var(--light);
}

/*Main Portfolio name styling*/
h1 {
    font-size: 3em;
    font-family: 'Trebuchet MS', 'Lucida Sans', sans-serif;
    color: var(--light);
}

/*Found solution https://stackoverflow.com/questions/57743633/how-do-you-add-a-navigation-bar-on-the-same-line-as-a-header*/
/*The selectors of .navbar defines top header and nav links*/
.navbar {
    display:flex;
    justify-content: space-between;
    align-items:center;
    background-color: var(--dark);
    width: 100vw;
    padding: 20px;
}

#navbarlinks {
    font-size: 1.5em;
}

#navbarlinks li {
    display:inline-block;
    padding: 0px 10px;
}

#navbarlinks a {
    text-decoration:none;
    color: var(--light);
    padding-right: 10px;
}

/*Decorative image under navbar*/
.hero-image {
    display: flex;
    flex: 1;
    /*Image courtesy of: Fabrizio Conti 
    https://unsplash.com/@conti_photos?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">*/
    background-image: url("../images/fabrizio-conti-kXVogATbFgA-unsplash\ \(2\).jpg");
    background-repeat: no-repeat;
}
 
/*Styling for Front End Web Developer text*/
.hero-text {
    font-size: 3em;
    padding: 225px 50px 0 0;
    text-align: end;
    color: var(--light);
}

/*Avatar image styling*/
.avatar {
    border-radius: 50%;
    width: 30%;
    height: 30%;
}

/*Directory on left side*/
.title {
    font-size: 2.1em;
    margin: 10px;
    padding-right: 10px;
    flex-basis: 25%;
    text-align: end;
    border-right: 3px solid var(--dark);
}

/*Flexbox for About Me section*/
.about {
    display: flex;
    padding: 10px;
}
.about p {
    flex: 1;
    margin: 30px;
    font-size: 24px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    width: 100vw;
}

/*Overlay for projec titles*/
.project-title {
    font-size: 2.1em;
    margin: 10px;
    padding-right: 10px;
    flex-basis: 25%;
    text-align: end;
    border-right: 3px solid var(--dark);
}

.project-card {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    flex: 1;
}

.small-images {
    width: 50%;
}

.big-image {
    width: 100%;
}

img {
    width: 100%;
}

.card-header {
    border: 3px solid;
    border-radius: 8px;
    border-color: var(--light);
    background-color: var(--dark);
    color: var(--light);
    text-align: center;
    margin-top: 20px;
}

.contact {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.resume {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}


/*Styling for contact me and resume sections*/
li {
    display: inline-block;
    padding: 5%;
    font-size: 1.5em;
    list-style: none;
    }

/* Changes the width max 768px or smaller for mobile phones*/
/* Credit: https://www.w3schools.com/css/css3_mediaqueries_ex.asp*/
@media screen and (max-width: 768px) {
    body {
    width: 100%;
    }
}
/* Changes the width max 992px or larger for tablets*/
@media screen and (min-width: 768px) {
    body {
    width: 50%;   
    }
}
  /* Changes the width of the cards so they are stacked on top of each other at 992px or larger */
@media screen and (min-width: 992px) {
    body {
    width: 100%;
    }
}

/*Photo by https://unsplash.com/@clairebrear?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Claire Brear
Photo by https://unsplash.com/es/@vladimir__film?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Vladimir Malyutin
Photo by https://unsplash.com/@angro?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Antonio Grosz
Photo by https://unsplash.com/@drscythe?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Dominik Scythe*/
        